@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    PlayGen<br />
	42-46 Princelet Street<br />
	London E1 5LP<br />
	United Kingdom<br />
    <abbr title="Phone">P:</abbr>
	+44 (0)20 3151 0410
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:contact@playgen.com">contact@playgen.com</a><br />
</address>
